@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');*{
   
   
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
 
}
body{
    font-family: Lato",sans-serif;
}
.outer-box{
width: 100vw;
height: 100vh;
back
/* background: linear-gradient(to top left, #3ed8ff,#a8f5ff); */
}
img{
    width: 100%;
  height: 100vh;
  position: absolute;
}

.inner-box{
    width: 400px;
    margin:0 auto;
    position: relative;
    top: 15%;
    transform: translate(1%);
    padding: 20px 40px;
    background-color: #9cd6afb2;
    background: linear-gradient(to top to left,#ffffff,#ffffffcc);
    backdrop-filter: blur(8px);

    box-shadow: 2px 2px 5px#8bafc7;
    z-index: 2;
}
.singup-header h1{
   font-size: small;
    color: #3e978b8f;

}
.singup-header p{
    font-size: 0.8rem;
    color:#555;


}
.signup-body{
    margin: 10px;
}
.signup-body label{
    margin: 10px 0;
    font-weight: bold;

}

    .signup-body p input {
margin: 10px 0;
width: 100%;
padding: 10px;
border: 2px solid #cccc;
border-radius: 4px;
font-size: 1rem;
margin: top: 4pxx;   
}   
.signup-body p input[type="submit"] {
background-color: #47a2df;
border-radius: none;
color: white;
cursor: pointer;
}
.signup-body p input[type="submit"] :hover {
background-color: #47a2df;
}
.signup-footer p  {
    color: #555;
    text-align: center;

}
.signup-footer p a {
    color: #47a2df;
}